/*Mobile*/
@media screen and (min-width:300px) and (max-width:700px) {
    .alert-info {
        background-color: lightcyan;
        border: 3px lightgrey solid;
        padding: 1em;
        text-align: center;
    }
    .alert-info a {
        text-decoration: none;
        color: black;
    }
    body {
        text-align: center;
        font-family: Arial, "Arial Black";
    }
    h1 {
        width: 100%;
        margin: auto;
        margin-top: .5em;
        font-weight: bolder;
    }
    img {
        max-width: 100%;
        height: auto;
        width: auto\9;
    }
    li {
        display: flex;
        justify-content: center;
        background-color: lightgrey;
        padding: 1em;
        margin: 1em;
        margin-left: -1em;
    }
    li a {

        color: blue;
        margin: auto;
    }
    section {
        text-align: left;
    }
    .sub-section {
        font-style: italic;
    }
    footer {
        display: flex;
        justify-content: left;
        flex-grow: 5;
        text-align: left;
    }
    footer p {
        flex-grow: 2;
    }
    footer a {
        color: black;
    }
    i {
        float: right;
        margin-right: auto;
        margin-left: 2em;
        margin-top: 1.2em;
        /*width: 100%;*/
        /*height: 100%;*/
        scale: 200%;
    }
}
/*Desktop*/
@media screen and (min-width:700px) {
    .hidden-on-desktop {
        visibility: hidden;
        display: none;
    }
    body {
        font-family: Arial, "Arial Black";
    }
    h1  {
        width: 100%;
        float: left;
    }
    ul {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 50px;
    }
    li {
        float: right;
        width: 9em;
        display: inline-block;
        list-style-type: none;
    }
    .header-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%

    }
    section {
        width: 50%;
        display: inline-block;
        float: left;
    }
    .sub-section {
        font-style: italic;
    }
    footer {
        display: flex;
        width: 100%;
        height: 13em;
        justify-content: flex-start;
    }
    p {
        display: flex;
        flex-grow: 4;
        align-items: flex-end;
    }
    #social-media-links {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 1em;
    }
    footer a {
        color: black;
        padding-left: 2em;
        padding-right: 2em;
        scale: 200%;
    }
}